@model SistemaCalificacion.Application.DTOs.LoginUserDto

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Iniciar session</h4>
<hr />
<div class="row">
    @if (@TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        @*@TempData.Remove("SuccessMessage");*@
    }
    <div class="col-md-4">
        <form asp-action="Login">
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="form-check-label" href="@Url.Action("Register", "Account")">No tienen una cuenta? Registrate Aquí!</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

