@model SistemaCalificacion.Application.DTOs.RegisterUserDto
@*@{
        ViewData["Title"] = "Register";
    }

    <h1>Register</h1>

    <h4>Crear cuenta</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Login">ir a Iniciar session</a>
    </div>*@

@{

    Layout = "_BlankLayout";

    ViewData["Title"] = "Registro";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css" />
}

@section PageScripts {
    <script src="~/js/pages-auth.js"></script>
}
@* ************** Content ************** *@
<div class="position-relative">
    <div class="authentication-wrapper authentication-basic container-p-y p-4 p-sm-0">
        <div class="authentication-inner py-6">
            <!-- Register Card -->
            <div class="card p-md-7 p-1">
                <!-- Logo -->
                <div class="app-brand justify-content-center mt-5">
                    <a href="/" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                        <span class="app-brand-text demo text-heading fw-semibold">@TempData.Peek("appName")</span>
                    </a>
                </div>
                <!-- /Logo -->
                <div class="card-body mt-1">
                    <h4 class="mb-1">Adventure starts here 🚀</h4>
                    <p class="mb-5">Make your app management easy and fun!</p>

                    <form id="formAuthentication" class="mb-5" asp-action="Register">
    
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-floating form-floating-outline mb-5 form-control-validation">
                            <input asp-for="Nombre" type="text" class="form-control" name="Nombre" placeholder="Enter your username" autofocus />
                            <label asp-for="Nombre"></label>
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-5 form-control-validation">
                            <input asp-for="Apellido" type="text" class="form-control" name="Apellido" placeholder="Enter your username" autofocus />
                            <label asp-for="Apellido"></label>
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div class="form-floating form-floating-outline mb-5 form-control-validation">
                            <input asp-for="Username" type="text" class="form-control" name="Username" placeholder="Enter your username" autofocus />
                            <label asp-for="Username"></label>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-floating form-floating-outline mb-5 form-control-validation">
                            <input asp-for="Email" type="text" class="form-control" name="Email" placeholder="Enter your email" />
                            <label for="email">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-5 form-password-toggle form-control-validation">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input asp-for="Password" type="password" class="form-control" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <label asp-for="Password"></label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <span class="input-group-text cursor-pointer"><i class="icon-base ri ri-eye-off-line icon-20px"></i></span>
                            </div>
                        </div>

                        <div class="mb-5 form-password-toggle form-control-validation">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                    <label asp-for="ConfirmPassword"></label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <span class="input-group-text cursor-pointer"><i class="icon-base ri ri-eye-off-line icon-20px"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100 mb-5">Sign up</button>
                    </form>

                    <p class="text-center mb-5">
                        <span>Ya tienes una cuenta?</span>
                        <a href="/Account/Login">
                            <span>Sign in Aqui!</span>
                        </a>
                    </p>

                </div>
            </div>
            <!-- Register Card -->
            <img alt="mask" src="~/img/illustrations/auth-basic-register-mask-light.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-register-mask-light.png" data-app-dark-img="illustrations/auth-basic-register-mask-dark.png" />
        </div>
    </div>
</div>
